<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbConn" connectionString="User Id=vtu;Password=vtu;Data Source=localhost:1521/orcl;"/>
  </connectionStrings>
  <appSettings>
    <!-- Values Guide ... -->
    <!--
     SMSC_IP : (string) valid ip address
     Port_No : (int) 
     Account_ID : (string)
     Password : (string)
     Short_Code : (int)
     Application_Status : (string) stop,book,live
     Application_Stop_Message : (string) 
     Overload_Threshold : (byte) any number between 1..255
     OverLoad_Message : (string)
     CheckValidityPeriod : (bool) 1=yes , 0=no
     Environment_Name : (string) local , live
     Interfaces_Path : (string)
     ChannelsCount : (byte)
     Stage : (string) high,inter
     ST_Year : (string) 
  -->
    <!-- **************************************************************-->
    <add key="SMSC_IP" value="127.0.0.1" />
    <add key="Port_No" value="5016" />
    <add key="Account_ID" value="test" />
    <add key="Password" value="test" />
    <!--<add key="SMSC_IP" value="192.240.15.132" />
    <add key="Port_No" value="5016" />
    <add key="Account_ID" value="MobileMoney" />
    <add key="Password" value="Mm100" />-->
    <add key="Short_Code" value="8000" />
    <add key="Application_Status" value="live"/>
    <add key="Application_Stop_Message" value="عذرا تم ايقاف النظام مؤقتا لاجراء الصيانة الدورية"/>
    <add key="Overload_Threshold" value="20"/>
    <add key="OverLoad_Message" value=""/>
    <add key="CheckValidityPeriod" value="0"/>
    <add key="Environment_Name" value="local"/>
    <add key="Interfaces_Path" value="D:\Development\Private\NT\YCo.VTU\Yvtu\Yvtu.SMSRec\InterfaceXMLFiles"/>
    <add key="ChannelsCount" value="3"/>
    <add key="TokensDelimiter" value=" "/>
    <!-- Command Tokens Patterns -->
    <add key="MobileNumberPattern" value="^(70)[0-9]{7}$"/>
    <add key="AmountPattern" value="^[1-9]\d"/>
    <add key="PINCodePattern" value="^[0-9]{4,6}$"/>
    <!-- Database settings -->
    <add key="DBName" value="rmmid"/>
    <!--<add key="DBServer" value="192.250.21.24"/>
    <add key="DBUser" value="rial"/>
    <add key="DBPass" value="Rial_9138@"/>-->
    <add key="DBServer" value="127.0.0.1"/>
    <add key="DBUser" value="root"/>
    <add key="DBPass" value="root"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- Security settings -->
    <add key="WrongPasswordMaxAttempts" value="2"/>
    <add key="LockedDuration" value="2m"/>
    <!-- m:minutes , h:hours , d:days -->
  </appSettings>
</configuration>