<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--192.240.15.132-->
    <add key="Server" value="127.0.0.1"/>
    <add key="Port" value="5016"/>
    <add key="ShortCode" value="8000"/>
    <add key="SystemId" value="test"/>
    <add key="Password" value="test"/>
    <add key="InstancesCount" value="1"/>
    <!-- R:Receiver | S:Transmitter | RS:Transceiver -->
    <add key="ConnectionMode" value="S"/>
    <!-- active | deactive -->
    <add key="ApplicationStatus" value="active"/>
    <add key="ApplicationStopMessage" value=""/>
    <add key="OverloadThreshold" value="20"/>
    <add key="OverLoadMessage" value=" "/>
    <add key="CheckValidityPeriod" value="0"/>
    <!-- local | live -->
    <add key="Environment" value="local"/>
    <add key="MaxChannels" value="5"/>
    <add key="SendSpeed" value="100"/>
    <add key="SenderSource" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>