@{
    ViewData["Title"] = "Access denied";
}


<div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center bg-white">
        <i class="fa fa-ban fa-8x text-danger"></i>
        <br />
        <br />
        <p class="text-danger">عذرا</p>
        <p class="text-danger">ليس لديك الصلاحيات الكافية</p>
    </div>
    <div class="col-1"></div>
</div>