
@{
    ViewData["Title"] = "App Users List";
}


<div class="container bg-white" >

    <a asp-action="Create" asp-controller="Account" class="add-button"
       data-toggle="tooltip" data-placement="top" title="إنشاء مستخدم جديد">
        <i class="fas fa-plus-circle fa-2x" style="color:rebeccapurple;"></i>
    </a>

    @*@if (Model != null)
    {
        @foreach (var user in Model)*@
        @*  *@{
            <div class="card">
                <div class="card-header">
                    <span></span>
                </div>
                <div class="card-body">

                </div>
            </div>
        @*}
    }*@
</div>

@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}