@model Yvtu.Web.Dto.LoginDto

@{
    ViewData["Title"] = "Login";
}

@{
    Layout = "_OutOfLayout";
}


@await Component.InvokeAsync("NToastNotify")
<div class="container-fluid">

    <div class="row" style="margin-top:10%;z-index:1;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 shadow-lg LoginGlassBox">
            <div class="mb-5 text-center">
                <img src="~/images/Y-Logo2.png" alt="Alhawyah Logo" class="brand-image" width="40" height="40" style="opacity: .8">
                <p style="font-family: 'ArefRuqaa-Bold';font-size:28px;color:purple;">الشاحن الفوري</p>
                <span style="color:#8767EB;" class="fa fa-user-circle fa-4x"></span>
            </div>

            <form method="post">

                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                @if (Model != null && !string.IsNullOrEmpty(Model.Error))
                {
                    <div class="form-group">
                        <label asp-for="Error" class="alert alert-danger" style="font-size:12px;">@Model.Error</label>
                    </div>
                }

                <div class="form-group">
                    <input asp-for="Id" class="form-control text-center RequiredInput" placeholder="رمز المستخدم"
                           style="border-radius: 10px;background: transparent;border-bottom: 0.3px solid white;border-top: 0.5px solid white;border-left: 0.5px solid white;
                            color:black;" />
                    @*<span asp-validation-for="Id" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <input asp-for="Pwd" class="form-control text-center RequiredInput" placeholder="الرقم السري"
                           style="border-radius: 10px;background: transparent;border-bottom: 0.5px solid white;border-top: 0.5px solid white;border-left: 0.5px solid white;" />
                    @*<span asp-validation-for="Pwd" class="text-danger"></span>*@
                </div>

                <div class="form-group">
                    <input asp-for="RememberMe" style="background: transparent;"/>
                    <label asp-for="RememberMe" style="color:black;font-size:11px;">تذكرني</label>

                </div>

                <button type="submit" class="btn btn-outline-success  btn-flat" style="width:100%;border-radius:10px;">دخول</button>


            </form>

        </div>
        <div class="col-sm-4"></div>
    </div>
</div>