<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Yvtu.RechargePrcFW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Yvtu.RechargePrcFW.Properties.Settings>
            <setting name="Yvtu_RechargePrcFW_bank_CBSInterfaceAccountMgrService"
                serializeAs="String">
                <value>http://www.huawei.com/bme/cbsinterface/accountmgr/wsdl/CBSInterface_AcctMgr.wsdl</value>
            </setting>
        </Yvtu.RechargePrcFW.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <!-- FetchType (odd,even,all) -->
    <add key="Application_Title" value=""/>
    <add key="Application_Status" value="live"/>
    <add key="Application_Stop_Message" value="عذرا تم ايقاف النظام مؤقتا لاجراء الصيانة الدورية"/>
    <add key="Short_Code" value="4444"/>
    <add key="Channel" value="1"/>
    <add key="payment_timeout" value="5"/>
    <add key="pay_timer_interval" value="1000"/>
    <add key="Writinglogs" value="Y"/>
    <add key="ChannelCount" value="2"/>
    <add key="StartChannel" value="1"/>
    <add key="MaxChannels" value="2"/>
    <add key="sysver" value="1"/>
    <add key="NoRowsWaitTimeout" value="2000"/>
    <add key="OCSEndpoint" value="http://10.2.11.45:7782/services/CBSInterfaceAccountMgrService"/>
    <add key="PaymentRemoteAddress" value="10.2.11.45"/>
    <add key="OCSApiUser" value="VTUser"/>
    <add key="OCSApiPassword" value="Password"/>
    <add key="SuccessPaymentCode" value="405000000"/>
    <add key="GrappedRequestsCount" value="100"/>
    <add key="ConString" value="User Id=vtu;Password=vtu;Data Source=192.168.1.100:1521/orcl.localdomain;Max Pool Size=20000;"/>
  </appSettings>
</configuration>