@{
    ViewData["Title"] = "Home";
}

@await Component.InvokeAsync("NToastNotify")
<div class="row">
    <div class="col-md-12">
        <div id="accordion">
            @* الوظائف الاساسية *@
            <div class="card mt-0">
                <div class="card-header p-1" id="headingOne"
                     style="background: rgb(115,34,182); background: linear-gradient(274deg, rgba(115,34,182,1) 0%, rgba(237,240,242,1) 22%, rgba(255,255,255,1) 100%); ">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration:none;color:white;">
                            الوظائف الاساسية
                        </button>
                        <i class="fab fa-buromobelexperte fa-2x float-left" style="color:gray;"></i>
                    </h6>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     style="font-family: 'DroidKufi-Normal';background-color: #f8f9fa;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="m-auto" style="display:inline-flex;flex-wrap:wrap;">
                                <a asp-action="Create" asp-controller="Account" style="text-decoration:none;">
                                    <div class="pt-2  text-center MainLink">
                                        <i class="fa fa-user-plus fa-3x" style="color:green;"></i> <br /> إنشاء جهة
                                    </div>
                                </a>



                                <a asp-action="Create" asp-controller="MoneyTransfer" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                        <i class="fas fa-gas-pump fa-3x" style="color:blue;"></i>

                                        <br /> نقل رصيد
                                    </div>
                                </a>

                                <a asp-action="Create" asp-controller="Adjust" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <i class="fas fa-sliders-h fa-3x" style="color:chocolate;"></i>
                                        <br /> تسويات
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <i class="fa fa-bullhorn fa-3x"></i>
                                        <br /> التعاميم
                                    </div>
                                </a>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* الاستعلامات *@
            <div class="card mt-0">
                <div class="card-header p-1" id="heading2"
                     style="background: rgb(115,34,182); background: linear-gradient(274deg, rgba(115,34,182,1) 0%, rgba(237,240,242,1) 22%, rgba(255,255,255,1) 100%); ">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration:none;color:white;">
                            الاستعلامات
                        </button>
                        <i class="fa fa-eye fa-2x float-left" style="color:gray;"></i>
                    </h6>
                </div>

                <div id="collapse2" class="collapse show" aria-labelledby="heading2"
                     style="font-family: 'DroidKufi-Normal';background-color: #f8f9fa;">
                    <div class="card-body">
                        <div class="row">
                            <div class="m-auto" style="display:inline-flex;flex-wrap:wrap;">
                                <a asp-action="RoleList" asp-controller="Account" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="width:135px;">
                                        <i class="fas fa-crown fa-3x" style="color:rebeccapurple;"></i>
                                        <br /> المستويات و انواع الجهات
                                    </div>
                                </a>

                                <a asp-action="Index" asp-controller="Account" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="width:125px;">
                                        <i class="fa fa-users fa-3x" style="color:black;"></i> <br /> الجهات و المستخدمين
                                    </div>
                                </a>

                                <a asp-action="Index" asp-controller="PartActivity" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                        <i class="fa fa-shield-alt fa-3x" style="color:dodgerblue;"></i> <br /> الصلاحيات
                                    </div>
                                </a>

                                <a asp-action="MoneyTranferQuery" asp-controller="MoneyTransfer" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                        <i class="fas fa-gas-pump fa-3x" style="color:blue;"></i>

                                        <br /> نقل رصيد
                                    </div>
                                </a>

                                <a asp-action="Index" asp-controller="Recharge" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                        <i class="fas fa-money-bill-wave fa-3x" style="color:darkcyan;"></i>

                                        <br /> التحصيل
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <i class="fas fa-bell fa-3x" style="color:goldenrod;"></i>

                                        <br /> الاشعارات
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <i class="fas fa-book-reader fa-3x" style="color:orchid;"></i>

                                        <br /> كشف حساب
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* الإعدادات *@
            <div class="card mt-0">
                <div class="card-header p-1" id="heading3"
                     style="background: rgb(115,34,182); background: linear-gradient(274deg, rgba(115,34,182,1) 0%, rgba(237,240,242,1) 22%, rgba(255,255,255,1) 100%); ">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration:none;color:white;">
                            الإعدادات
                        </button>
                        <i class="fa fa-cogs fa-2x float-left" style="color:gray;"></i>
                    </h6>
                </div>

                <div id="collapse3" class="collapse show" aria-labelledby="heading3"
                     style="font-family: 'DroidKufi-Normal';background-color: #f8f9fa;">
                    <div class="card-body">
                        <div class="row">
                            <div class="m-auto" style="display:inline-flex;flex-wrap:wrap;">
                                <a asp-action="CreateRule" asp-controller="PartActivity" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                        <i class="fa fa-user-shield fa-3x" style="color:dodgerblue;"></i> <br /> إنشاء صلاحية جديدة
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <i class="far fa-comment-alt fa-3x" style="color:crimson;"></i>
                                        <br /> نصوص الرسائل
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <span class="fa-stack fa-2x">

                                            <i class="fas fa-comment-alt fa-stack-2x fa-2x" style="color:green"></i>
                                            <i class="fas fa-bell fa-stack-1x" style="color:goldenrod;"></i>
                                        </span>
                                        <br /> الاشعارات
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* الرقابة *@
            <div class="card mt-0">
                <div class="card-header p-1" id="heading4"
                     style="background: rgb(115,34,182); background: linear-gradient(274deg, rgba(115,34,182,1) 0%, rgba(237,240,242,1) 22%, rgba(255,255,255,1) 100%); ">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration:none;color:white;">
                            الرقابة
                        </button>
                        <i class="fab fa-watchman-monitoring fa-2x float-left" style="color:gray;"></i>
                    </h6>
                </div>

                <div id="collapse4" class="collapse show" aria-labelledby="heading4"
                     style="font-family: 'DroidKufi-Normal';background-color: #f8f9fa;">
                    <div class="card-body">
                        <div class="row">
                            <div class="m-auto" style="display:inline-flex;flex-wrap:wrap;">
                                <a asp-action="Create" asp-controller="PartActivity" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <i class="fas fa-paw fa-3x" style="color:black;"></i> <br /> تتبع الحركة
                                    </div>
                                </a>
                                <a asp-action="Create" asp-controller="PartActivity" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <i class="fas fa-bug fa-3x" style="color:darkred;"></i> <br /> الاخطاء
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* احصائيات *@
            <div class="card mt-0">
                <div class="card-header p-1" id="heading5"
                     style="background: rgb(115,34,182); background: linear-gradient(274deg, rgba(115,34,182,1) 0%, rgba(237,240,242,1) 22%, rgba(255,255,255,1) 100%); ">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration:none;color:white;">
                            إحصائيات
                        </button>
                        <i class="fas fa-chart-pie fa-2x float-left" style="color:gray;"></i>
                    </h6>
                </div>

                <div id="collapse5" class="collapse show" aria-labelledby="heading5"
                     style="font-family: 'DroidKufi-Normal';background-color: #f8f9fa;">
                    <div class="card-body">
                        <div class="row">
                            <div class="m-auto" style="display:inline-flex;flex-wrap:wrap;">
                                <a asp-action="Create" asp-controller="PartActivity" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink" style="background-color:#c2c5c7;cursor:not-allowed;">
                                        <i class="fas fa-chart-line fa-3x" style="color:black;"></i> <br /> حركة التحصيلات
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
