@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <div id="accordion">
            <div class="card mt-0">
                <div class="card-header p-1" id="headingOne" style="background-color:#dcdcdc;">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration:none;color:rebeccapurple;">
                            الوظائف الاساسية
                        </button>
                        <i class="fab fa-buromobelexperte fa-2x float-left" style="color:gray;"></i>
                    </h6>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                     style="font-family: 'DroidKufi-Normal';background-color: #f8f9fa;">
                    <div class="card-body d-inline-flex">
                        <div class="row">
                            <div class="col-md-12 d-inline-flex">
                                <a asp-action="Create" asp-controller="Account" style="text-decoration:none;">
                                    <div class="pt-2  text-center MainLink">
                                        <i class="fa fa-user-plus fa-3x" style="color:green;"></i> <br /> إنشاء جهة
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                            <i class="fas fa-link fa-3x" style="color: maroon;"></i>
                                        <br /> الربط مع الجهات API
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                            <i class="fas fa-gas-pump fa-3x" style="color:blue;"></i>
                                       
                                        <br /> نقل رصيد
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                            <i class="fas fa-sliders-h fa-3x" style="color:chocolate;"></i>
                                        <br /> تسويات
                                    </div>
                                </a>

                                <a href="#" style="text-decoration:none;" class="mr-2">
                                    <div class="pt-2  text-center MainLink">
                                            <i class="fa fa-bullhorn fa-3x"></i>
                                        <br /> التعاميم
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-0">
                <div class="card-header p-1" id="heading2" style="background-color:#dcdcdc;">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration:none;color:rebeccapurple;">
                            الاستعلامات
                        </button>
                        <i class="fa fa-eye fa-2x float-left" style="color:gray;"></i>
                    </h6>
                </div>

                <div id="collapse2" class="collapse show" aria-labelledby="heading2"
                     style="font-family: 'DroidKufi-Normal';background-color: #f8f9fa;">
                    <div class="card-body d-inline-flex">

                        <a href="#" style="text-decoration:none;" class="mr-2">
                            <div class="pt-2  text-center MainLink" style="width:125px;">
                                <i class="fa fa-users fa-3x" style="color:black;"></i> <br /> الجهات و المستخدمين
                            </div>
                        </a>

                        <a href="#" style="text-decoration:none;" class="mr-2">
                            <div class="pt-2  text-center MainLink" style="width:135px;">
                                    <i class="fa fa-link fa-3x"></i>
                                <br /> الجهات المرتبطة عبر API
                            </div>
                        </a>

                        <a href="#" style="text-decoration:none;" class="mr-2">
                            <div class="pt-2  text-center MainLink">
                                <i class="fa fa-shield-alt fa-3x" style="color:dodgerblue;"></i> <br /> الصلاحيات
                            </div>
                        </a>

                        <a href="#" style="text-decoration:none;" class="mr-2">
                            <div class="pt-2  text-center MainLink">
                                    <i class="fas fa-gas-pump fa-3x" style="color:blue;"></i>

                                <br /> نقل رصيد
                            </div>
                        </a>

                        <a href="#" style="text-decoration:none;" class="mr-2">
                            <div class="pt-2  text-center MainLink">
                                    <i class="fas fa-money-bill-wave fa-3x" style="color:darkcyan;"></i>

                                <br /> التحصيل
                            </div>
                        </a>

                        <a href="#" style="text-decoration:none;" class="mr-2">
                            <div class="pt-2  text-center MainLink">
                                    <i class="fas fa-bell fa-3x" style="color:goldenrod;"></i>

                                <br /> الاشعارات
                            </div>
                        </a>

                        <a href="#" style="text-decoration:none;" class="mr-2">
                            <div class="pt-2  text-center MainLink">
                                    <i class="fas fa-book-reader fa-3x" style="color:orchid;"></i>

                                <br /> كشف حساب
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="card mt-0">
                <div class="card-header p-1" id="heading3" style="background-color:#dcdcdc;">
                    <h6 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne"
                                style="text-decoration:none;color:rebeccapurple;">
                            الصلاحيات
                        </button>
                        <i class="fa fa-clipboard-check fa-2x float-left" style="color:gray;"></i>
                    </h6>
                </div>

                <div id="collapse3" class="collapse show" aria-labelledby="heading3"
                     style="font-family: 'DroidKufi-Normal';background-color: #f8f9fa;">
                    <div class="card-body d-inline-flex">

                        <a asp-action="Create" asp-controller="PartActivity" style="text-decoration:none;" class="mr-2">
                            <div class="pt-2  text-center MainLink">
                                <i class="fa fa-user-shield fa-3x" style="color:dodgerblue;"></i> <br /> منح صلاحية جديدة
                            </div>
                        </a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
