<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- FetchType (odd,even,all) -->
    <add key="Application_Title" value="Recharge"/>
    <add key="Application_Status" value="live"/>
    <add key="Application_Stop_Message" value="عذرا تم ايقاف النظام مؤقتا لاجراء الصيانة الدورية"/>
    <add key="Short_Code" value="8000"/>
    <add key="Channel" value="1"/>
    <add key="payment_timeout" value="5"/>
    <add key="pay_timer_interval" value="1000"/>
    <add key="Writinglogs" value="Y"/>
    <add key="ChannelCount" value="2"/>
    <add key="StartChannel" value="1"/>
    <add key="MaxChannels" value="2"/>
    <add key="sysver" value="1"/>
    <add key="NoRowsWaitTimeout" value="2000"/>
    <add key="OCSEndpoint" value="https://192.250.21.32:8443/"/>
    <add key="OCSApiUser" value="sms6005"/>
    <add key="OCSApiPassword" value="Password_60051"/>
    <add key="GrappedRequestsCount" value="100"/>
    <add key="CommandsList" value="'98'"/>
  </appSettings>
</configuration>