body {
    direction: rtl;
    font-family: 'ArefRuqaa-Bold';
}
.header{
    text-align:center;
    color:green;
    padding-bottom:35px;
}

table{
    width:100%;
    border-collapse:collapse;
}

td, th {
    border: 1px solid gray;
    padding: 15px;
    font-size:20px;
    text-align:center;
}

table th{
    background-color:#EDF0F2;
    color:black;
}
.header_table {
    width: 100%;
   /* border-bottom: 0.5px solid #cbcdcf;*/
    margin-bottom: 40px;
}
    .header_table tr,td {
        border:none;
    }
    .AmountDetails {
        margin-bottom: 30px;
        border: none;
    }
    .AmountDetails tr {
        height: 50px;
        border-bottom: 0.5px solid #cbcdcf;
    }
        .AmountDetails tr td {
            border: none;
        }
.AmountDetails th{
    font-size:26px;
    border:none;
}
.RefData {
    margin-bottom: 30px;
}
    .RefData tr {
        height:60px;
        border-radius: 20px;
        background-color: #EDF0F2;
    }